<div class="col-md-8">
  <h2>Profile - {{model.first}} {{model.last}}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{model.first}}</td>
      <td>{{model.last}}</td>
      <td>{{model.position}}</td>
      <td>{{model.salary}}</td>
    </tr>
    </tbody>
  </table>
  <div>
  {{ember-chart type="Line" data=numberData options=optionData width=500 height=300}}
  </div>
</div>
