<table class="table table-condensed table-striped">
<tbody>
{{#each model as |employee|}}
  <tr>
  <td>{{employee.id}}</td>
  <td>{{employee.first}}</td>
  <td>{{employee.last}}</td>
  <td>{{employee.position}}</td>
  <td>{{employee.salary}}</td>
  </tr>
{{/each}}
</tbody>
</table>
