<div class="col-md-4">
  <div class="list-group">
    <div class="list-group-item">
      {{input type="text" class="new-employee" placeholder="New Employee" value=newName}}
      <button class="btn btn-primary btn-sm new-artist-button" {{action "createEmployee"}}
        {{bind-attr disabled=disabled}}>Add</button>
    </div>
    {{#each model as |employee|}}
      <div class="list-group-item">
        {{employee.last}}, {{employee.first}}
      </div>
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
